HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
application-secret.yml
.env.local.
.env.prod
.env.common

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# DB 볼륨 데이터
mysql-data/
postgresql-data/

# DB User 초기화 스크립트
mysql-init/init-dev.sql
mysql-init/init-prod.sql
postgresql-init/init-dev.sql
postgresql-init/init-prod.sql