# application-secret-example.yml
# ⚠ 이 파일은 예시입니다.
# 'application-secret.yml'로 이름을 바꾸고
# 프로젝트에 맞게 값을 입력하여 사용하세요.

# 데이터베이스 설정
schema:
  base: ${DATABASE}

spring:
  datasource:
  # 🔧 사용하려는 DB 설정을 주석 해제하세요.

  # [MySQL 사용 시]
  # driver-class-name: com.mysql.cj.jdbc.Driver
  # url: ${SPRING_DATASOURCE_URL_MYSQL}
  # username: ${SPRING_DATASOURCE_USERNAME_MYSQL}
  # password: ${SPRING_DATASOURCE_PASSWORD_MYSQL}

  # [PostgreSQL 사용 시]
  # driver-class-name: org.postgresql.Driver
  # url: ${SPRING_DATASOURCE_URL_POSTGRESQL}
  # username: ${SPRING_DATASOURCE_USERNAME_POSTGRESQL}
  # password: ${SPRING_DATASOURCE_PASSWORD_POSTGRESQL}

jwt:
  SECRET_KEY: ${JWT_SECRET_KEY}
  ACCESS:
    EXPIRATION_TIME: 3600000 # 1시간
    HEADER: Authorization
  REFRESH:
    EXPIRATION_TIME: 604800000 # 7일
    HEADER: Authorization-Refresh
  TOKEN_PREFIX: "Bearer "
